@model Grupo4.InstitutoEducativo.Models.ProfesorMateria

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles</h1>

<div>
    <h4></h4>
    <hr />

    <h4>Profesor</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Profesor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Profesor.NombreApellido)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Profesor.Legajo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Profesor.Legajo)
        </dd>
    </dl>
    <h4>Materia</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Materia)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Materia.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Materia.Descripcion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Materia.Descripcion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Materia.CupoMaximo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Materia.CupoMaximo)
        </dd>
    </dl>

</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Editar</a> |
    <a asp-action="Index">Volver</a>
</div>
