@model Grupo4.InstitutoEducativo.Models.MateriaCursadaAlumno

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles</h1>

<div>
    <h4>MateriaCursadaAlumno</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MateriaCursada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MateriaCursada.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alumno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alumno.Apellido)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Editar</a> |
    <a asp-action="Index">Volver</a>
</div>
